* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	color: black;
	line-height: 1.6;
}
.memePage{
	text-align:center; 
	z-index: 1;
	background-image: url('2155772.jpg');
}
.memePage:before{
	background-size: cover;
	background-position: center;
	background-size:100vh;
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
}
.showcase {
	background-image: url('background.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}

#content {
	margin-bottom: auto;
	padding: 10px;
}

.showcase h1 {
	font-size: 40px;
	line-height: 1;
	color: #66940A;
}

.button {
	 position: absolute;
    bottom: 78%;
    margin: auto;
    right: 10%;
    font-size: 18px;
	text-decoration: none;
	color: #8ad254;
	border: #385a16 1px solid;
	padding: 5px 20px;
	border-radius: 10px;
}


.showcase .button:hover {
	background: #66940A;
	color: #fff;
}